.image {
  border-radius: 50%;
  object-fit: cover;
  width: 90px;
}
.name {
  border-bottom: 1px solid #5e5e5e;
  width: 8rem;
  text-transform: capitalize;
  color: #00ffff;
  display: flex;
  margin-left: 3px;
}

.Position-item {
  flex-wrap: wrap;
  display: flex;
}
.container {
  border: 2px solid #000fff;
  width: 60%;
  text-align: center;
  margin: auto;
}

.background-go {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.3)),
    url("./image/go\ logo.jpg") center/cover no-repeat;
}
